bson==0.4.3
pandas==0.17.0
MySQL-python==1.2.3
flask==0.11.1
flask_sqlalchemy==2.1
Flask-WTF==0.12
python-socketio==1.5.0
flask-security==1.7.5
flask-restful==0.3.5
flask-redis==0.3.0
flask-socketio==2.7.1
flask-cors==3.0.2
flask-pymongo==0.4.1
simplejson==3.8.2
gevent==1.1.1
eventlet==0.19.0
celery
